<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<title></title>

		<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" type="text/css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://unpkg.com/material-components-vue/dist/theme/theme.min.css">


		<script src="https://unpkg.com/vue"></script>
		<link rel="stylesheet" href="https://unpkg.com/material-components-vue/dist/typography/typography.min.css">
		<script src="https://unpkg.com/material-components-vue/dist/typography/typography.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/material-components-vue/dist/button/button.min.css">
		<script src="https://unpkg.com/material-components-vue/dist/button/button.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/material-components-vue/dist/checkbox/checkbox.min.css">
		<script src="https://unpkg.com/material-components-vue/dist/checkbox/checkbox.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/material-components-vue/dist/form-field/form-field.min.css">
		<script src="https://unpkg.com/material-components-vue/dist/form-field/form-field.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/material-components-vue/dist/floating-label/floating-label.min.css">
		<script src="https://unpkg.com/material-components-vue/dist/floating-label/floating-label.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/material-components-vue/dist/text-field/text-field.min.css">
		<script src="https://unpkg.com/material-components-vue/dist/text-field/text-field.min.js"></script>


		<style>
body {
	margin: 0;
	padding: 0
}

canvas {
	/* image-rendering: pixelated; */
}

#app {
	display: flex;
}

.right {
	width: 50%;
}

.canvas-container {
	display: flex;
	width: 50%;
	height: 100vh;
}

.canvas-container #ffthist {
	width: 60%;
	height: 100%;
}

.canvas-container #fftwave {
	width: 10%;
	height: 100%;
}

.canvas-container #ffthist2 {
	width: 30%;
	height: 100%;
}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="canvas-container">
				<canvas id="ffthist" ref="ffthist"></canvas>
				<canvas id="fftwave" ref="fftwave"></canvas>
				<canvas id="ffthist2" ref="ffthist2"></canvas>
			</div>
			<div class="right">
				<div style="padding: 10px">
					<m-typography>
						<m-button v-on:click="run" v-if="!running" raised>run</m-button>
						<span>{{fps}} fps</span>
					</m-typography>
				</div>
				<div>
					<m-text-field v-model="bandpass.bandwidth" type="number">
						<m-floating-label for="textfield">Bandwidth</m-floating-label>
					</m-text-field>
					<m-text-field v-model="bandpass.freq" type="number">
						<m-floating-label for="textfield">LO Freq</m-floating-label>
					</m-text-field>
					<m-form-field>
						<m-checkbox v-model="lsb"></m-checkbox>
						<label>LSB</label>
					</m-form-field>
				</div>
				<canvas ref="waveform" style="width: 100%"></canvas>
				<canvas ref="waveform2" style="width: 100%"></canvas>
			</div>
		</div>
		<!-- script src="node_modules/comlink/dist/umd/comlink.min.js"></script -->
		<script src="index.js" type="module"></script>
	</body>
</html>
